.title {
  font-size: 6rem;
  width:25rem;
  font-family: LemonBird;
  font-weight:400;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  width: 49rem
}

.subTextTitle {
  font-size: 1.7rem;
  font-family: MetropolisLight;
  width: 43rem;
  line-height:1.9;
}
.textShadow {
  font-family: MetropolisBold;
  color: #3B5C60;
   font-size: 2rem;
  text-shadow: 2px 2px  #2C2C2C;
}

.textItalic {
  font-family: MetropolisBoldItalic;
  font-size: 2rem;
}

.playfairItalic {
  font-family: PlayfairDisplayItalic;
  color: #3B5C60;
  font-size: 2rem;
}
.playfairItalicBig {
  font-family: PlayfairDisplayItalic;
  color: #3B5C60;
  font-size: 2.5rem;
}
.playfair {
  font-family: PlayfairDisplay;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Skills*/

.containerProjects {
  cursor: url("/hand-vinger.png"), auto ;
  background-color: #3B5C60;
  margin-bottom: 10rem;
  margin-top: 10rem;
  position: relative;
}

.containerProjects::before,
.containerProjects::after {
  background: url("/background-curve.svg") center bottom repeat;
  content: '';
  height: 103px;
  position: absolute;
  width: 100%;
}

.containerProjects::before {
  bottom: 100%;
}

.containerProjects::after {
  top: 100%;
  transform: scaleY(-1);
}

.subTitle {
  font-family: LemonBird;
  font-weight: 300;
  color: white;
  font-size: 6rem;
  font-weight: 300;
  margin-left: 10rem;

}
.skillContainer {
  display: flex;
  justify-content: space-around;
  margin: 6rem;
}

.skillText {
  color: white;
  text-align: center;
}

.educationTitle {
  font-family: LemonBird;
  font-weight: 300;
  color: #3B5C60;
  font-size: 6rem;
  margin-left: 10rem;
}
/*
.educationTitle ::before {
 content: url("../public/gif/vol-cap.gif");
}

.educationTitle ::after {
 content: url('../public/gif/wit-cap.gif');
}
*/
.map {
   cursor: url("/design.png"), auto ;

}
