.footerContainer {
    background: url("../public/gif/bckgrnd-footer.gif") no-repeat center ;
    background-size: 100%;
  background-position: bottom;
  background-color: #3B5C60;
  margin-top: 10rem;
  padding-bottom: 3rem;
  position: relative;
  display: flex;
 justify-content: center;

}

.footerContainer::before{
  background: url("/background-curve.svg") center bottom repeat;
  content: '';
  height: 103px;
  position: absolute;
  width: 100%;
}

.footerContainer::before {
  bottom: 100%;
}

.footer {
    margin: 0 auto;
    
}

.title {
    font-size: 6rem;
    font-family: LemonBird;
    color: white;
    font-weight: 300;
    padding:2rem;
}

.logoText {
    font-size: 3rem;
    font-family: LemonBird;
    color: white;
    font-weight: 300;
    margin-left: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 3rem;

}

.text {
    display:flex;
    list-style: none;
}

.textColumn {
    margin-right: 4rem;
}

.textA {
    font-family: MetropolisLight;
    font-size: 2rem;
    color: white;
    
    margin: 3rem;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    line-height: 100px;
}

.textA:hover {
    text-decoration: none;
    color: white;
}

.textPoint {
    display: flex;
    align-items: center;
}