@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: LemonBird;
    src: url("../public/fonts/LemonBird/LemonBird-Regular.woff2") format("woff2"),
       url("../public/fonts/LemonBird/LemonBird-Regular.woff") format("woff");
}
@font-face {
  font-family: MetropolisLight;
    src: url("../public/fonts/Metropolis/Light/Metropolis-Light.woff2") format("woff2"),
       url("../public/fonts/Metropolis/Light/Metropolis-Light.woff") format("woff");
}

@font-face {
  font-family: MetropolisBold;
    src: url("../public/fonts/Metropolis/Bold/Metropolis-Bold.woff2") format("woff2"),
       url("../public/fonts/Metropolis/Bold/Metropolis-Bold.woff") format("woff");
}

@font-face {
  font-family: MetropolisBoldItalic;
    src: url("../public/fonts/Metropolis/BoldItalic/Metropolis-BoldItalic.woff2") format("woff2"),
       url("../public/fonts/Metropolis/BoldItalic/Metropolis-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: PlayfairDisplayItalic;
    src: url("../public/fonts/PlayfairDisplay/Italic/PlayfairDisplay-Italic.woff2") format("woff2"),
       url("../public/fonts/PlayfairDisplay/Italic/PlayfairDisplay-Italic.woff") format("woff");
}

@font-face {
  font-family: PlayfairDisplay;
    src: url("../public/fonts/PlayfairDisplay/Regular/PlayfairDisplay-Regular.woff2") format("woff2"),
       url("../public/fonts/PlayfairDisplay/Regular/PlayfairDisplay-Regular.woff") format("woff");
}
.hidden {
  display:none;
}

body {
  background: #fdf8f4;
  margin: 0;
  font-family: 'Roboto';
  font-size: 1.5em;  
}
/*
.page-content {
  max-width: 1300px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
*/
