.container {
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  width: 96rem;
  display: flex;

}

/*Header*/
.title {
  font-size: 6rem;
  width:55rem;
  font-family: LemonBird;
  font-weight:400;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.subTextTitle {
  font-size: 1.7rem;
  font-family: MetropolisLight;
  width: 58rem;
  line-height:2;
}

.playfairItalic {
  font-family: PlayfairDisplayItalic;
  color: #3B5C60;
}

.playfair {
  font-family: PlayfairDisplay;
}

.imageNoor {
  z-index: -2;
}

 /*Projects*/
.button {
cursor: url("/hand-vinger.png"), auto ;
}

.buttonRight {
  display:flex;
  justify-content: center;
}

.containerProjects {
  cursor: url("/hand-vinger.png"), auto ;
  background-color: #3B5C60;
  margin-bottom: 10rem;
  margin-top: 10rem;
  position: relative;
}

.containerProjects::before,
.containerProjects::after {
  background: url("/background-curve.svg") center bottom repeat;
  content: '';
  height: 103px;
  position: absolute;
  width: 100%;
}

.containerProjects::before {
  bottom: 100%;
}
/*
.containerProjects::after {
  top: 100%;
  transform: scaleY(-1);
}
*/
.arrow {
  display:flex;
  justify-content: center;
}

/*skills*/
.flip {
  position:absolute;
  transform: rotate(360deg) scaleX(-1);
}


.subTitle{
  color: #3B5C60;
  font-size: 7rem;
  font-family: LemonBird;
  font-weight: 300;
  text-align: center;
}

/*Good at*/
.goodsContainer {
  display: flex;
  justify-content: space-around;
  width: 96rem;
  margin: 0 auto;
}

.goodTitel {
  font-family: Lemon Bird;
  color:#3B5C60;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.04em;
}

.goodContainer {
  margin: 7rem;
}