.container {
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  width: 96rem;
  display: flex;
}

/*Header*/
.title {
  font-size: 4.6rem;
  width:45rem;
  font-family: LemonBird;
  font-weight:300;
  letter-spacing: 3px;
  margin-bottom: 1.4rem;
}

.subTextTitle {
  font-size: 1.5rem;
  font-family: MetropolisLight;
  width: 60rem;
  line-height:2;
}

.playfairItalic {
  font-family: PlayfairDisplayItalic;
  color: #3B5C60;
}

.playfair {
  font-family: PlayfairDisplay;
}

.imageNoor {
  z-index: -2;
}

 /*Projects*/
 /*grid*/
 .containerProjects {
  cursor: url("/hand-vinger.png"), auto ;
  background-color: #3B5C60;
  margin-bottom: 10rem;
  position: relative;
  top: 3rem; 
}
.containerProject {
  margin: 0 auto;
  width: 96rem;
  display: grid; 
  grid-template-columns: repeat(10, 9.6rem); 
  grid-template-rows: repeat(15, 7.7rem); 
  grid-template-areas: 
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    "project1 project1 project1 project1 project1 Project2 Project2 Project2 Project2 Project2"
    ". . . . . Project2 Project2 Project2 Project2 Project2"
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."
    ". Project3 Project3 Project3 Project3 Project3 . . . ."; 
}

.projectDiv:nth-child(1){ 
  grid-area: project1; 

  display:grid; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . img1 img1 img1"
    ". . img1 img1 img1"
    "map1 map1 img1 img1 img1"
    "map1 map1 img1 img1 img1"
    "title1 title1 img1 img1 img1"; 
}

.projectDiv:nth-child(2){ 
  grid-area: Project2; 

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img2 img2 img2 img2 img2"
    "img2 img2 img2 img2 img2"
    "img2 img2 img2 img2 img2"
    "img2 img2 img2 img2 img2"
    ". map2 map2 . ."
    ". map2 map2 . ."
    ". title2 title2 . ."; 
}

.projectDiv:nth-child(3){ 
  grid-area: Project3; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img3 img3 img3 img3 img3"
    "img3 img3 img3 img3 img3"
    "img3 img3 img3 img3 img3"
    "img3 img3 img3 img3 img3"
    "map3 map3 . . ."
    "map3 map3 . . ."
    "title3 title3 . . ."; 

}

.mapTitle {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 15.616rem;
    font-family:MetropolisBold;
}
.mapTitle:nth-child(1) {
  grid-area: title1; 
}
.mapTitle:nth-child(2) {
  grid-area: title2; 
}
.mapTitle:nth-child(3) {
  grid-area: title; 
}
.map {
    cursor: url("/ogen.png"), auto ;
    width: 17rem;
}


.button {
  cursor: url("/hand-vinger.png"), auto ;
}

.buttonRight {
  display:flex;
  justify-content: center;
}

.containerProjects::before,
.containerProjects::after {
  z-index: -1;
  background: url("/background-curve.svg") center bottom repeat;
  content: '';
  height: 103px;
  position: absolute;
  width: 100%;
}

.containerProjects::before {
  bottom: 100%;
}
/*
.containerProjects::after {
  top: 100%;
  transform: scaleY(-1);
}
*/
.arrow {
  display:flex;
  justify-content: center;
  position: relative;
  bottom: 4rem;
}

/*skills*/
.flip {
  position:absolute;
  transform: rotate(360deg) scaleX(-1);
}


.subTitle{
  color: #3B5C60;
  font-size: 7rem;
  font-family: LemonBird;
  font-weight: 300;
  text-align: center;
}

/*Good at*/
.goodsContainer {
  display: flex;
  justify-content: space-around;
  width: 96rem;
  margin: 0 auto;
}

.goodTitel {
  font-family: Lemon Bird;
  color:#3B5C60;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.04em;
}

.goodContainer {
  margin: 7rem;
}