.box {
    background-image:url("../public/img/brief.png");
    width: 61.75rem;
    height: 60.224rem;
    background-repeat:no-repeat;
}

.box__text {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    color: #3B5C60;

}

.form {
    width: 35rem;
    margin-left: 5rem;
    padding-top: 4rem;
}

/*.button {
    background:url("../public/gif/send-message.gif") no-repeat;
    width:25rem;
    height:9rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
*/
.input {
    border: none;
    border-bottom: 3px solid #3B5C60;
    background-color: #FDF8F4;
    color: #3B5C60;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
}

.input:focus{
     outline: 2px solid #FDF8F4;
}


.textarea {
    min-width: 5rem;
}