
.p {
    margin: 0 0 40px 0;
    line-height: 40px;
	}

.span {
	position: relative;
	line-height: 40px;
}


.field__name {
    color: #7DB665;
    display: inline;

}

.field__email {
    color: #7DB665;
      display: inline;

}

.field__message {
    color: #7DB665;
      display: inline;

}

.form__field {
  display: inline;
  color: #7DB665;
  outline: none;

 
  /*
  &:empty,
  &:empty:focus {
    &:before {
      content: attr(data-placeholder);
    }
  }*/
}

.form__field:empty {
    display: inline-block;
  }



