.testyWrapper > * {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.testyhiddde{
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre-line;
}

.testy {
  min-width: 8.2rem;
  padding: 0 .2rem;
}

.form__contact {
  max-width: 600px;
  margin: 0 auto;
}
.fieldset {
    position: relative;
    padding: 30px 30px 40px 40px;
    border: none;
    min-height: 30rem;
    background: #fff linear-gradient(rgba(0,0,0,.1) 1px, transparent 0) 0 20px / 100% 40px;
 } 
  
.imageMessage {
  z-index: 3;
  position: relative;

}

.box__text {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    color: #3B5C60;

}

.form {
    width: 35rem;
    margin-left: 5rem;
    padding-top: 4rem;
}

/*.button {
    background:url("../public/gif/send-message.gif") no-repeat;
    width:25rem;
    height:9rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
*/
.input {
    border: none;
    border-bottom: 3px solid #3B5C60;
    color: #3B5C60;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 7px;
}

.input:focus{
     outline: 2px solid #FDF8F4;
}


.textarea {
  line-height: 25px;
}

.wouldLLike {
  line-height: 25px;
}