.item {
  color: #3B5C60;
  font-family: MetropolisLight;
  text-decoration: none;
  font-size:1.7rem;
}
.item:hover {
 text-decoration: none;
 color: #3B5C60;
 font-family: MetropolisBold;

}


@media (max-width: 768px) {

    .item {
        font-family: LemonBird;
        font-weight: 300;
        margin: 2rem;
        font-size:2rem;
    }

}